src/main/resources/mocks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tosan.com/mocks/soap"
           targetNamespace="http://tosan.com/mocks/soap" elementFormDefault="qualified">

    <xs:element name="getMockRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="delay" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMockResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
